@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-lightblack: #151515;
  --text-lightgray: #929292;
  --text-gray: #d6d6d6;
  --bg-lightgray: #e8e4e4;
  --bg-white: #ffff;
  --bg-footer: #f9f9f9;
  --text-lightorange: #f7b79d;
  --border-color: #c2c2c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-size: 26px;
  font-weight: 500;
}

.navbar-center ul {
  list-style: none;
}

.navbar-center ul li {
  width: 13%;
  white-space: nowrap;
}

.navbar-center ul li a {
  text-decoration: none;
  color: var(--text-lightblack);
  font-weight: 400;
  font-size: 18px;
  transition: all 0.1s ease-in-out;
}

.navbar-center ul li a:hover {
  font-weight: 700;
}

.navbar-right a i {
  margin-left: 20px;
  font-size: 24px;
}

.below-nav i,
.mob-nav-bottom i {
  font-size: 18px;
  color: var(--text-lightgray);
}

.below-nav span {
  font-size: 14px;
  color: var(--text-lightblack);
}

/* mobile navbar */
.btn-close {
  background-color: var(--bg-lightgray);
}

.accordion {
  --bs-accordion-border-color: var(--bg-white);
}
.accordion-button:focus {
  box-shadow: none;
  border-bottom: 1px solid var(--bg-lightgray);
}

.accordion-button:not(.collapsed) {
  font-weight: bold;
  background-color: var(--bg-white);
}

.accordion-button::after {
  font-weight: bold;
}

/* banner section */
.ring-container {
  position: relative;
  height: 210px;
}

.ring {
  width: 120px;
  height: 120px;
  object-fit: contain;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.ring.left {
  transform: translate(39vw, 100px);
}

.ring.right {
  transform: translate(-39vw, 100px);
}

.ring.center {
  transform: translate(0vw, 0vh) scale(2.2, 2.2);
  opacity: 1;
  z-index: 10;
}

.bannerh {
  font-size: 45px;
  color: var(--text-lightblack);
}

.banner-perce {
  font-size: 18px;
  width: 303px;
  color: var(--text-gray);
}

.banner .btn {
  font-size: 20px;
  font-weight: 400;
}


/* keep in touch */
.tounch-sec h3,
.collection-head h3 {
  font-size: 34px;
}

.tounch-sec .touch-p {
  font-size: 20px;
  color: var(--text-lightgray);
}

.tounch-sec button {
  font-size: 18px;
  padding: 0.51rem 4.5rem;
  background-color: var(--text-lightblack);
}

.touch-sec input {
  font-size: 20px;
}

/* collection */
.collection-head p {
  font-size: 18px;
  color: var(--text-lightgray);
  width: 35%;
}

.card img {
  max-width: 333px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  color: var(--text-lightblack);
}

.card-text {
  font-size: 14px;
  color: var(--text-lightgray);
}

.orange-bg {
  background-color: var(--text-lightorange);
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  bottom: -15px;
  z-index: 0;
}

.collection-cards {
  position: relative;
  z-index: 1;
}

.collection-container {
  position: relative;
  z-index: 1;
}

/* Custom CSS only for carousel functionality */
.carousel-container {
  position: relative;
  width: 100%;
  perspective: 1000px;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.carousel-card {
  position: relative;
  min-width: 120px;
  margin: 0 -35px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.carousel-card img {
  width: 80%;
  height: 230px;
  object-fit: cover;
  margin: 0 auto;
}

.carousel-card .card-text {
  color: var(--text-lightorange);
}

.carousel-card:first-child,
.carousel-card:nth-child(2),
.carousel-card:nth-child(3) {
  transform: rotateY(20deg);
}

.carousel-card:nth-child(5),
.carousel-card:nth-child(6),
.carousel-card:last-child {
  transform: rotateY(-20deg);
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicator.active {
  background-color: #333; /* Active indicator color */
}

/* footer */
footer {
  background-color: var(--bg-footer);
}

.foot-trust {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-lightorange);
}

.foot-jeweler {
  font-size: 20px;
  font-weight: 500;
  max-width: 55%;
  color: var(--text-lightgray);
}

.footer-bottom-text,
.footer-bottom-text a {
  font-size: 14px;
  color: var(--text-lightgray);
  font-weight: 500;
}

.footer-links {
  width: 50%;
}

.footer-links a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-lightgray);
}

.horiz {
  border-color: var(--text-lightgray);
}

footer a {
  text-decoration: none;
}

@media (max-width: 1500px) {
  .footer-logos img {
    max-width: 98px;
    width: 100%;
    object-fit: cover;
  }
  .foot-jeweler {
    max-width: 75%;
  }
}

@media (max-width: 1200px) {
  .tounch-sec h3,
  .collection-head h3 {
    font-size: 30px;
  }

  .tounch-sec .touch-p {
    font-size: 24px;
    color: var(--text-lightgray);
  }
}

@media (max-width: 992px) {
  .navbar-center {
    display: none; /* Hide center menu on mobile */
  }

  .navbar-right {
    margin-left: auto;
  }

  footer a {
    text-decoration: underline;
  }

  .footer-links {
    width: 100%;
  }

  .foot-jeweler {
    max-width: 100%;
  }
  .tounch-sec h3,
  .collection-head h3 {
    font-size: 26px;
  }

  .tounch-sec .touch-p {
    font-size: 20px;
    color: var(--text-lightgray);
  }

  .collection-head p {
    width: 75%;
  }

  .orange-bg {
    height: 200px;
    bottom: 0;
  }

  .carousel-card:nth-child(3),
  .carousel-card:nth-child(5) {
    scale: 0.8 !important;
  }
}

@media (max-width: 768px) {
  .footer-logos img {
    max-width: 58px;
  }
  .card-title {
    font-size: 12px;
  }

  .card-text {
    font-size: 10px;
  }

  .orange-bg {
    height: 150px;
  }

  .bannerh {
    font-size: 32px;
  }

  .banner .btn {
    font-size: 18px;
  }

  .ring.left {
    transform: translate(-45vw, 50px) scale(0.7, 0.7);
  }

  .ring.right {
    transform: translate(25vw, 50px) scale(0.7, 0.7)    ;
  }

  .ring.center {
    transform: translate(0vw, 0vh) scale(1.5, 1.5);
  }
}

@media (max-width: 576px) {
  .foot-jeweler,
  .footer-bottom-text,
  .footer-bottom-text a,
  .footer-links a,
  .tounch-sec .touch-p,
  .collection-head p {
    font-size: 12px;
  }

  .tounch-sec button {
    font-size: 14px;
    padding: 0.51rem 2.5rem;
    background-color: var(--text-lightblack);
  }

  .touch-sec input {
    font-size: 20px;
  }

  .collection-head p {
    width: 100%;
  }

  .card-title {
    font-size: 10px;
  }

  .card-text {
    font-size: 8px;
  }

  .orange-bg {
    height: 100px;
    bottom: 20px;
  }

  .bannerh {
    font-size: 30px;
  }

  .banner-perce {
    width: 280px;
  }

  .banner .btn {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .card-title {
    font-size: 8px;
    margin-bottom: 0.31rem;
  }
}
